In [17]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [18]:
df =pd.read_csv('car data.csv')
df

   speed  car_age  experience  risk
0    200       14         3.0    59
1    194       13         NaN    55
2    164       18         6.0    49
3    110       11         2.0    60
4    140       20         7.0    44
5    114        4         8.0    37
6     79        2         2.0    80
7     30        6        20.0    10
8     49        1         9.0    30

In [19]:
df.experience

0     3.0
1     NaN
2     6.0
3     2.0
4     7.0
5     8.0
6     2.0
7    20.0
8     9.0
Name: experience, dtype: float64

In [21]:
exm_fit= df.experience.mean()
exm_fit

7.125

In [22]:
df.experience = df.experience.fillna(exm_fit)

In [23]:
df.experience

0     3.000
1     7.125
2     6.000
3     2.000
4     7.000
5     8.000
6     2.000
7    20.000
8     9.000
Name: experience, dtype: float64

In [24]:
reg =linear_model.LinearRegression()

In [26]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [27]:
reg.predict([[160,10,5]])

C:\Users\badhonkhan481\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([54.99408795])

In [28]:
reg.coef_

array([ 0.02430619, -0.26368394, -3.26589521])

In [29]:
reg.intercept_

70.07141241273845

In [34]:
# y=mx+c
# y=m1x1+m2x2+m3x+c
# risk=m1*speed+m2*car_age+m3*experience+intercept
#predictoutput manual

0.02430619*160 + -0.26368394*10 + 5 * -3.26589521 + 70.07

54.992674949999994